<!-- === TEMPLATE LOGIN === -->
<template name="login">
	<div class="body-login bg-black">
		<div class="form-box" id="login-box">
			<div class="header">La Aldeana</div>
			<form action="../../index.html" method="post">
				<div class="body bg-gray">
					<div class="form-group">
						<input type="text" name="userid" class="form-control" placeholder="Usuario" title="Ingrese el nombre del Usuario"/>
					</div>
					<div class="form-group">
						<input type="password" name="password" class="form-control" placeholder="Clave" title="Ingrese su Clave" />
					</div>
				</div>
				<div class="footer">
					<p><button type="submit" class="btn bg-olive btn-block">Ingresar al Sistema</button></p>
        </div>
			</form>
			<div class="margin text-center">
				<span>Sistema de Gestion </span>
        <br/>
				<span>( Ventas, Compras, Inventario )</span>
				<br/>
        <br/>
				<button class="btn bg-light-blue btn-circle" title="ramirezjohan"><i class="fa fa-facebook"></i></button>
				<button class="btn bg-aqua btn-circle" title="@ingenierojohan"><i class="fa fa-twitter"></i></button>
				<button class="btn bg-red btn-circle" title="ingenierojohan"><i class="fa fa-google-plus"></i></button>
				<br/>
				<span>Ingeniero Johan Ramirez</span>
        <br/>
				<span>ingenierojohan@gmail.com</span>
				<p><strong>{{version}} -- {{fechaSistema}}</strong></p>
			</div>
		</div>
	</div>
</template>